{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="sub-container mt-3">

    <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="analyse-transition statistical-tests">
      <div class="full-bar"></div>
      <div class="analyse-question">
        <h3>What test would you like to apply?</h3>
      </div>
      <div class="row">
        <div class="col-sm-3">
          {{ form.test(class="analyse-option statistical-test") }}
        </div>
        <div class="col-sm-9">
          <p class="test-info"></p>
        </div>
      </div>
    </div>

    <div class="analyse-transition independent-variables hidden-axis">
      <div class="full-bar"></div>
      <div class="analyse-question">
        <h3>Please select your <span class="first-variable-question"></span></h3>
      </div>
      <div class="row">
        <div class="col-sm-3">
          {{ form.independent_variable(class="analyse-option independent-variable") }}
        </div>
        <div class="col-sm-9">
          <p class="iv-info"></p>
        </div>
      </div>
    </div>
    <div class="analyse-transition dependent-variables hidden-axis">
      <div class="full-bar"></div>
      <div class="analyse-question">
        <h3>Please select your <span class="second-variable-question"></span></h3>
      </div>
      <div class="row">
        <div class="col-sm-3">
          {{ form.dependent_variable(class="analyse-option dependent-variable") }}
        </div>
        <div class="col-sm-9">
          <p class="dv-info"></p>
        </div>
      </div>
    </div>
    <div class="analyse-transition analyse-continue hidden-axis">
      <div class="full-bar"></div>
      {{ form.submit(class="btn btn-secondary") }}
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='statistics.js') }}" defer></script>
{% endblock content %}
