{% extends "layout.html" %} {% block content %}
<div class="container">
  <form action="" method="post">
    {{ form.hidden_tag() }}
      <div class="save-graph-form">
        {% if form.title.errors %}
            {{ form.title(class="edit-graph-title form-upload-error") }}
            <div class="invalid">
                {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.title(class="edit-graph-title hide-title") }}
        {% endif %}
        {{ form.submit(class="btn btn-primary save-graph") }}
      </div>
  </form>
  <div id="graph"></div>
</div>
<script type="text/javascript">
  var graphData = {{ data | safe }}
</script>
<script src="{{ url_for('static', filename='d3/barchart.js') }}" defer></script>
{% endblock content %}
