{% extends "layout.html" %} {% block content %}
<div class="container">
  <h1 class="home-title">What type of graph would you like to make?</h1>
  <div class="select-graphs">
    <a class="text-decoration-none" href="{{ url_for('graphs.graph', survey_id=survey_id, chart_type='Bar chart') }}">
      <img class="graph-img" src="{{ url_for('static', filename='images/barchart.png') }}" class="graph-img"/>
      <p class="select-graph-type">Bar Chart</p>
    </a>
    <a class="text-decoration-none" href="{{ url_for('graphs.graph', survey_id=survey_id, chart_type='Scatter chart') }}">
      <img class="graph-img" src="{{ url_for('static', filename='images/scatterchart.png') }}" class="graph-img"/>
      <p class="select-graph-type">Scatter Chart</p>
    </a>
  </div>
</div>
{% endblock content %}
