{% extends "layout.html" %} {% block content %}
<section class="container">
  <div class="d-flex justify-content-between align-items-center my-3">
    <a class="btn btn-secondary" href="{{ url_for('graphs.home') }}">Back</a>
    <h1 class="h3 primary-colour mt-2 mb-3 text-center"><u>{{ survey["title"] }}</u></h1>

    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Your data
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{ url_for('graphs.import_file') }}">Edit your data</a>
      <a class="dropdown-item" href="{{ url_for('graphs.quick_stats', survey_id=survey['_id']) }}">Quick stats</a>
    </div>
  </div>
  <div class="row">
    <!-- ------YOUR GRAPHS GRID SECTION------ -->
    <div class="col-md-8 mb-3">
      <div class="bg-light shadow rounded">
        <div class="text-center">
          <h1 class="h5 primary-colour-bg p-2 text-light rounded-top  mb-0">Graphs</h1>
        </div>
        {% if not graphs %}
        <div class="p-3">
          <a class="text-decoration-none text-center" href="{{ url_for('graphs.choose_graph', survey_id=survey['_id'])}}">
            <div class="p-4 rounded border bg-white add-variable">
              <p class="lead m-0 text-muted">No graphs yet! Click here to add your first graph.</p>
              <div class="mt-2">
                <i class="fa fa-plus-circle fa-lg text-primary" aria-hidden="true"></i>
              </div>
            </div>
          </a>
        </div>
        {% else %}
        <div class="container">
          <div class="row p-2">
            {% for graph in graphs %}
            <div class="col-lg-6 p-2">
              <div class="card shadow-sm">
                <a href="{{ url_for('graphs.graph', survey_id=graph['surveyId'], graph_id=graph['_id'] )}}">
                  <img class="card-img-top" src="{{ url_for('static', filename='graphimages/' + graph.image) }}" alt="Card image cap">
                </a>
                <div class="card-body rounded-bottom bg-dark text-light">
                  <h5 class="card-title">{{ graph["title"] }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ graph["type"] }}</h6>
                  <div class="d-flex justify-content-between">
                    <a href="{{ url_for('graphs.graph', survey_id=graph['surveyId'], graph_id=graph['_id'])}}" class="btn btn-info">Edit</a>
                    <form action="{{ url_for('graphs.delete_graph', graph_id=graph['_id'], survey_id=survey['_id'] )}}" method="post" onsubmit="return confirm('Are you sure you want to delete this graph?');">
                      <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <a class="text-center d-flex flex-column text-decoration-none" href="{{ url_for('graphs.choose_graph', survey_id=survey['_id'])}}">
          <p class="mb-1">Add new graph</p>
          <i class="mb-3 fa fa-plus-circle fa-lg text-primary" title="Add survey" aria-hidden="true"></i>
        </a>
        {% endif %}
      </div>
    </div>
    <!-- ------ANALYSE YOUR DATA GRID SECTION------ -->
    <div class="col-md-4 mb-3">
      <div class="bg-light shadow rounded">
        <div class="text-center">
          <h4 class="h5 primary-colour-bg p-2 text-light rounded-top mb-0">Statistical tests</h4>
        </div>
        {% if not tests %}
        <div class="p-3">
          <a class="text-decoration-none text-center" href="{{ url_for('graphs.analyse', survey_id=survey['_id'])}}">
            <div class="p-4 rounded border bg-white add-variable">
              <p class="lead m-0 text-muted">No tests yet! Click here to add your first statistical test.</p>
              <div class="mt-2">
                <i class="fa fa-plus-circle fa-lg text-primary" aria-hidden="true"></i>
              </div>
            </div>
          </a>
        </div>
        {% else %}
          {% for test in tests %}
            <div class="home-table">
              <a  class="text-decoration-none primary-colour" href="{{ url_for('graphs.result',
                          test_id=test['_id'],
                          survey=test['surveyId'],
                          test=test['test'],
                          p_value=test['p'],
                          independent_variable=test['independentVariable'],
                          dependent_variable=test['dependentVariable'],
                          title=test['title'] )}}">{{ test["title"] }}</a>
              <div class="edit-delete">
                <form action="{{ url_for('graphs.delete_test', test_id=test['_id'], survey_id=survey['_id'] )}}" method="post"
                    onsubmit="return confirm('Are you sure you want to delete this test?');">
                  <button class="delete-icon" type="submit"><i class="fas fa-trash fa-lg"></i></button>
                </form>
              </div>
            </div>
          {% endfor %}
          <a class="my-1 text-center d-flex flex-column text-decoration-none" href="{{ url_for('graphs.analyse', survey_id=survey['_id']) }}">
            <p class="mb-1">Add new tests</p>
            <i class="mb-3 fa fa-plus-circle fa-lg text-primary" title="Add survey" aria-hidden="true"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}
