{% extends "layout.html" %} {% block content %}

<div class="container">
  <section class="form-container">
    <form class="form" action="" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="fieldset">
        <div class="form-title">Edit Survey Title</div>
        <div class="bar"></div>
        <div class="form-fields">
          <div class="form-field">
            {{ form.title.label(class="form-label") }}
            {% if form.title.errors %}
                {{ form.title(class="form-upload form-upload-error") }}
                <div class="invalid">
                    {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.title(class="form-upload") }}
            {% endif %}
          </div>
          <div class="btn-row btn-form">
            <a class="btn btn-secondary" href="{{ url_for('graphs.dashboard') }}">Cancel</a>
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </div>
      </fieldset>
    </form>
  </section>
</div>
{% endblock content %}
