{% extends "layout.html" %} {% block content %}
<main class="container">

  <div class="row mt-3">
    <section class="col-12">
      <h1 class="h3 primary-colour mt-2 mb-3 text-center">
        <u>Here are a list of significant findings we have found in your data</u>
      </h1>
      {% if not notifications %}
      <div class="p-4 rounded border bg-white shadow-sm text-center pointer">
        <p class="lead m-0 text-muted">No findings at the moment! Try uploading a file and we will check for you.</p>
      </div>
      {% else %}
        {% for notification in notifications %}
        <article class="bg-white shadow-sm rounded p-3 mb-3 survey" data-name="{{ survey['title'] }}">
          <div class="border-bottom">
            <a class="h4 mb-2 text-decoration-none" href="{{ url_for('graphs.dashboard', survey_id=survey['_id'] )}}">{{ survey["title"] }}: view graphs and tests</a>
          </div>
          <div class="row mt-4 text-muted">
            <div class="col-md-3">
              <p>Number of graphs: {{ survey["numGraphs"] }}</p>
              <p>Number of tests: {{ survey["numTests"] }}</p>
            </div>
            <div class="col-md-3">
              <!-- <a class="btn btn-primary" href="#">Add graphs/tests</a> -->
            </div>
            <div class="col-md-6 d-flex flex-column">
              <p class="mb-1">
                View some <a href="{{ url_for('graphs.quick_stats', survey_id=survey['_id']) }}">quick stats</a> on your data
              </p>
              <div class="d-flex">
                <a class="btn btn-info" href="{{ url_for('graphs.input', survey_id=survey['_id'] )}}">Edit data</a>
                <form class="ml-3" action="{{ url_for('graphs.delete_survey', survey_id=survey['_id'] )}}" method="post" onsubmit="return confirm('Are you sure? All associated graphs/tests will be deleted?');">
                  <button class="btn btn-danger" type="submit">Delete survey</button>
                </form>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
        <div class="my-1 text-center d-flex flex-column text-primary pointer" data-toggle="modal" data-target="#new-column-modal">
          <p class="mb-1">Add new survey</p>
          <i class="fa fa-plus-circle fa-lg text-primary" title="Add survey" aria-hidden="true"></i>
        </div>
      {% endif %}
    </section>
  </div>
</main>

<script src="{{ url_for('static', filename='home.js') }}" defer></script>
{% endblock content %}
