{% extends "layout.html" %} {% block content %}
<div class="graph-container">
  <form class="chart-form" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="d-flex col-sm-6 offset-md-3 justify-content-end">
          {% if form.title.errors %}
              {{ form.title(class="edit-graph-title form-upload-error") }}
              <div class="invalid">
                  {% for error in form.title.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.title(class="edit-graph-title hide-title") }}
          {% endif %}
          <div class="dropdown">
            <p>Save as</p>
            <div class="dropdown-options">
              <div class="export dropdown-option">Export as PNG</div>
              {{ form.submit(class="dropdown-option no-btn") }}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="graph-sub-container">

      <div class="row vh-75 p-3">
        <!-- Graph -->
        <div class="graph-height col-md-9 p-0  order-md-2">
          <div id="graph" class="h-100 position-relative">
            <!-- ------GRAPH OVERLAY------ -->
            <div class="empty-graph visible h-100 w-100 mr-2">
              <h1>Choose your axis variables to get started</h1>
            </div>
            <!-- ------TOOLTIP------ -->
            <div class="graph-tooltip tooltip-hidden">
              <p><span class="tooltip-value"></span></p>
            </div>
          </div>
        </div>

        <!-- Axes settings -->
        <div class="col-md-3  order-md-1">
          <div class="h-100 grid-section p-3">
            <!-- ------X AXIS------ -->
            <div class="x-axis-details">
              <h2 class="grid-section-title">X-axis</h2>
              <div class="grid-bar"></div>
              <div class="axis-variable">
                {{ form.x_axis.label() }}
                {{ form.x_axis(class="x-axis-value axis-setting") }}
              </div>
              <div class="axis-variable extra-settings-group hidden-axis">
                <p>X-axis range</p>
                <div class="d-flex justify-content-between">
                  {{ form.x_axis_from.label() }} {{ form.x_axis_from(class="extra-setting x-from w-25") }}
                  {{ form.x_axis_to.label() }} {{ form.x_axis_to(class="extra-setting x-to w-25") }}
                </div>
                <div class="y-axis-group">
                  <div class="grid-bar">
                    <div class="axis-variable">
                      {{ form.group_size.label() }}
                      {{ form.group_size(class="extra-setting number-groups") }}
                    </div>
                  </div>
                  <small>If you specify the number of groups, the graph will approximate what is possible close to that number</small>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- End of Axis settings -->
      </div>

    </div>

  <!-- END OF GRAPH GRID -->
  </form>
</div>
<script type="text/javascript" defer>
  // Conversions from python True/False to javascript true/false
  var nan = "N/A";
  var True = true;
  var False = false;
  var graphData = {{ data | safe }}
  // Check needed for testing
  {% if 'csrf_token' in form %}
    var csrf = "{{ form.csrf_token._value() }}"
  {% endif %}
  var url = "{{ url_for('graphs.graph', survey_id=survey_id, graph_id=graph_id, chart_type='Histogram') }}"
  var redirectUrl = "{{ url_for('graphs.dashboard', survey_id=survey_id) }}"
</script>
<script src="{{ url_for('static', filename='d3/histogram.js') }}" defer></script>
<script src="{{ url_for('static', filename='d3/saveSvgAsPng.js') }}" defer></script>
{% endblock content %}
