<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>Survey - {{ title }}</title>
    {% else %}
    <title>Survey</title>
    {% endif %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script src="https://d3js.org/d3.v5.min.js" defer></script>
    <script src="https://kit.fontawesome.com/cba779aa10.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    <!-- dropzone css -->
    {{ dropzone.load_css() }} {{ dropzone.style(' height: 100%; width: 100%; border: none;
     font-size: 4rem; font-family: "Ubuntu", sans-serif; color: var(--primary-colour);') }}
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-center">
          <a class="navbar-logo" href="/">Survey Site</a>
          <div class="navbar-links">
            {% if current_user.is_authenticated %}
              <a class="navbar-link" href="{{ url_for('users.logout') }}">Logout</a>
              <a class="navbar-link" href="{{ url_for('graphs.dashboard') }}">Dashboard</a>

            {% else %}
              <a class="navbar-link" href="#">Link 1</a>
              <a class="navbar-link" href="#">Link 2</a>

            {% endif %}
            <a class="navbar-link" href="#">Link 3</a>
          </div>
        </div>
      </nav>
      <!-- <div class="bar"></div> -->
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="{{ category }} message">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
    <!-- <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script> -->
    <!-- dropzone javascript -->
  </body>
</html>
