{% extends "layout.html" %} {% block content %}
<div class="graph-container">
  <form class="chart-form" action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="save-graph-form">
      {% if form.title.errors %}
          {{ form.title(class="edit-graph-title form-upload-error") }}
          <div class="invalid">
              {% for error in form.title.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ form.title(class="edit-graph-title hide-title") }}
      {% endif %}
      <div class="dropdown">
        <p>Save as</p>
        <div class="dropdown-options">
          <div class="export dropdown-option">Export as PNG</div>
          {{ form.submit(class="dropdown-option no-btn") }}
        </div>
      </div>
    </div>

    <div class="graph-sub-container">


      <div class="row vh-75 p-3">
        <!-- Graph -->
        <div class="graph-height col-md-9 p-0  order-md-2">
          <div id="graph" class="h-100 position-relative">
            <!-- ------GRAPH OVERLAY------ -->
            <div class="empty-graph visible h-100 w-100 mr-2">
              <h1>Choose an x-axis variable to get started</h1>
            </div>
            <!-- ------TOOLTIP------ -->
            <div class="graph-tooltip tooltip-hidden">
              <span class="tooltip-value"></span>
            </div>
          </div>
        </div>

        <!-- Axes settings -->
        <div class="col-md-3  order-md-1">
          <div class="h-100 grid-section p-3">
            <!-- ------X AXIS------ -->
            <div class="x-axis-details">
              <h2 class="grid-section-title">Variable</h2>
              <div class="grid-bar"></div>
              <div class="axis-variable">
                {{ form.x_axis.label() }}
                {{ form.x_axis(class="x-axis-value axis-setting") }}
              </div>
            </div>
            <!-- ------Y AXIS------ -->
            <div class="y-axis-details hidden-axis">
              <h2 class="grid-section-title">Against (optional)</h2>
              <div class="grid-bar">
                <div class="axis-variable">
                  {{ form.y_axis.label() }}
                  {{ form.y_axis(class="y-axis-value axis-setting") }}
                </div>
                <div class="aggregate hidden-axis">
                  {{ form.y_axis_agg.label() }}
                  {{ form.y_axis_agg(class="y-axis-aggregation axis-setting") }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Axis settings -->
      </div>

    </div>

  <!-- END OF GRAPH GRID -->
  </form>
</div>
<script type="text/javascript" defer>
  // Conversions from python True/False to javascript true/false
  var nan = "N/A";
  var True = true;
  var False = false;
  var graphData = {{ data | safe }}
  var csrf = "{{ form.csrf_token._value() }}"
  var url = "{{ url_for('graphs.graph', survey_id=survey_id, graph_id=graph_id, chart_type='Pie chart') }}"
  var redirectUrl = "{{ url_for('graphs.dashboard', survey_id=survey_id) }}"
</script>
<script src="{{ url_for('static', filename='d3/piechart.js') }}" defer></script>
<script src="{{ url_for('static', filename='d3/saveSvgAsPng.js') }}" defer></script>
{% endblock content %}
