{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-3">
      <a class="btn btn-secondary" href="{{ url_for('graphs.dashboard', survey_id=survey_id) }}">Back</a>
    </div>
    <div class="col-6">
      <h1 class="text-center h1 font-weight-light">Quick Stats: {{ survey_title }}</h1>
    </div>
  </div>
  <div class="my-3 d-flex justify-content-center bg-white rounded shadow border p-2">
    <p class="h4 mx-4 my-0 font-weight-light">Number of rows: {{ rows }}</p>
    <p class="h4 mx-4 my-0 font-weight-light">Number of columns: {{ cols }}</p>
  </div>
  <div class="stats-grid">
  {% for column in column_info %}
    <div class="bg-light shadow rounded grid-element">
      <div class="text-center">
        <h1 class="h5 primary-colour-bg p-2 text-light rounded-top">{{ column["title"] }}</h1>
      </div>
      <div class="p-3">
        <p class="lead">Data type: {{ column["data_type"] }}</p>
        {% if column["data_type"] != "true/false" %}
          <p class="lead">Unique values: {{ column["num_unique"] }}</p>
        {% endif %}
        {% if column["quantities"] %}
          <div class="bg-white border rounded shadow-sm">
            <h4 class="h5 grey-background p-2 rounded-top mb-0">Quantities</h4>
            <ul class="list-group text-dark">
              {% for key in column["quantities"] %}
              <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">{{ key }}</p>
                <p class="m-0">{{ column["quantities"][key] }}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if column["data_type"] == "numerical" %}
        <div class="bg-white border rounded shadow-sm">
          <h1 class="h5 grey-background p-2 rounded-top mb-0">Aggregations</h1>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">Average</p>
                <p class="m-0">{{ column["average"] }}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">Highest value</p>
                <p class="m-0">{{ column["max"] }}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">Lowest value</p>
                <p class="m-0">{{ column["min"] }}</p>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">Sum of values</p>
                <p class="m-0">{{ column["sum"] }}</p>
              </li>
            </ul>
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" defer></script>
<script src="{{ url_for('static', filename='quickstats.js') }}" defer></script>
{% endblock content %}
