{% extends "graph.html" %} {% block axis %}
<!-- Axes settings -->
<div class="col-md-3  order-md-1">
  <div class="h-100 grid-section p-3">
    <!-- ------X AXIS------ -->
    <div class="x-axis-details">
      <h2 class="grid-section-title">X-axis</h2>
      <div class="grid-bar"></div>
      <div class="axis-variable">
        {{ form.x_axis.label() }}
        {{ form.x_axis(class="x-axis-value axis-setting") }}
      </div>
      <div class="axis-variable">
        <p>X-axis range</p>
        <div class="d-flex justify-content-between">
          {{ form.x_axis_from.label() }} {{ form.x_axis_from(class="axis-range x-from w-25") }}
          {{ form.x_axis_to.label() }} {{ form.x_axis_to(class="axis-range x-to w-25") }}
        </div>
      </div>
    </div>
    <div class="full-bar"></div>
    <!-- ------Y AXIS------ -->
    <div class="y-axis-details hidden-axis">
      <h2 class="grid-section-title">Y-axis</h2>
      <div class="grid-bar">
        <div class="axis-variable">
          {{ form.y_axis.label() }}
          {{ form.y_axis(class="y-axis-value axis-setting") }}
        </div>
        <div class="axis-variable">
          <p>Y-axis range</p>
          <div class="d-flex justify-content-between">
            {{ form.y_axis_from.label() }} {{ form.y_axis_from(class="axis-range y-from w-25") }}
            {{ form.y_axis_to.label() }} {{ form.y_axis_to(class="axis-range y-to w-25") }}
          </div>
        </div>
      </div>
    </div>
    <small class="align-self-end hidden form-add-line">
      {{ form.line.label(class="text-light") }}
      {{ form.line(class="add-line") }}
    </small>
  </div>
</div>
<!-- Graphs specific to scatter chart -->
<script src="https://d3js.org/d3.v5.min.js" defer></script>
<script src="{{ url_for('static', filename='d3/scatterchart.js') }}" defer></script>
{% endblock axis %}
