{% extends "graphs/graph.html" %} {% block axis %}
<!-- Axes settings -->
<section class="col-md-3  order-md-1">
  <div class="h-100 bg-gradient text-light rounded p-3">
    <!-- ------Y AXIS------ -->
    <section class="y-axis-details">
      <h3>Numerical variable</h3>
      <div class="axis-variable">
        {{ form.y_axis.label() }}
        {{ form.y_axis(class="custom-select y-axis-value axis-setting") }}
      </div>
      <small data-toggle='help' class="text-light help"
      title="A box and whisker plot requires a numerical variable. If you don't see your variable it is because it was not recognised as numerical.">
      <i class="far fa-question-circle mr-2"></i>Don't see your variable?</small>
    </section>
    <!-- ------X AXIS------ -->
    <section class="x-axis-details hidden-down">
      <h3>Optional categorical variable</h3>
      <div class="axis-variable">
        {{ form.x_axis.label() }}
        {{ form.x_axis(class="custom-select x-axis-value axis-setting") }}
      </div>
    </section>
  </div>
</section>
<!-- End of Axis settings -->
<!-- Scripts specifically for barchart -->
<script src="https://d3js.org/d3.v5.min.js" defer></script>
<script src="{{ url_for('static', filename='graphscripts/boxchart.js') }}" defer></script>
{% endblock axis %}
