{% extends "layout.html" %} {% block content %}
<div class="container">
  <h3 class="text-center"><u>What type of graph would you like to make?</u></h3>
  <div class="select-graphs">
    <a class="text-decoration-none" href="{{ url_for('graphs.graph', survey_id=survey_id, chart_type='Bar chart') }}">
      <img class="graph-img" src="{{ url_for('static', filename='images/siteimages/barchart.png') }}" class="graph-img"/>
      <p class="select-graph-type">Bar Chart</p>
    </a>
    <a class="text-decoration-none" href="{{ url_for('graphs.graph', survey_id=survey_id, chart_type='Scatter chart') }}">
      <img class="graph-img" src="{{ url_for('static', filename='images/siteimages/scatterchart.png') }}" class="graph-img"/>
      <p class="select-graph-type">Scatter Chart</p>
    </a>
    <a class="text-decoration-none" href="{{ url_for('graphs.graph', survey_id=survey_id, chart_type='Pie chart') }}">
      <img class="graph-img" src="{{ url_for('static', filename='images/siteimages/piechart.png') }}" class="graph-img"/>
      <p class="select-graph-type">Pie Chart</p>
    </a>
    <a class="text-decoration-none" href="{{ url_for('graphs.graph', survey_id=survey_id, chart_type='Histogram') }}">
      <img class="graph-img" src="{{ url_for('static', filename='images/siteimages/histogram.png') }}" class="graph-img"/>
      <p class="select-graph-type">Histogram</p>
    </a>
    <a class="text-decoration-none" href="{{ url_for('graphs.graph', survey_id=survey_id, chart_type='Map') }}">
      <img class="graph-img" src="{{ url_for('static', filename='images/siteimages/map.png') }}" class="graph-img"/>
      <p class="select-graph-type">Map</p>
    </a>
  </div>
</div>
{% endblock content %}
