{% extends "graphs/graph.html" %} {% block axis %}
<!-- Axes settings -->
<div class="col-md-3  order-md-1">
  <div class="h-100 grid-section p-3">
    <!-- ------X AXIS------ -->
    <div class="x-axis-details">
      <h3>Variable</h3>
      <div class="grid-bar"></div>
      <div class="axis-variable">
        {{ form.x_axis.label() }}
        {{ form.x_axis(class="x-axis-value axis-setting") }}
      </div>
    </div>
    <!-- ------Y AXIS------ -->
    <div class="y-axis-details hidden-axis">
      <h3>Against (optional)</h3>
      <div class="grid-bar">
        <div class="axis-variable">
          {{ form.y_axis.label() }}
          {{ form.y_axis(class="y-axis-value axis-setting") }}
        </div>
        <div class="aggregate hidden-axis">
          {{ form.y_axis_agg.label() }}
          {{ form.y_axis_agg(class="y-axis-aggregation axis-setting") }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Axis settings -->

<script src="https://d3js.org/d3.v5.min.js" defer></script>
<script src="{{ url_for('static', filename='graphscripts/piechart.js') }}" defer></script>
{% endblock axis %}
