@import "d3.css";

:root {
  --base-hue: 210;
  --complementary-hue-offset: 180;
  --complementary-hue: calc(var(--base-hue) - var(--complementary-hue-offset));
  --primary-colour: linear-gradient(to left, #141e30, #243b55);
  --grey-background: #d0d2d6;
  --primary-colour-transparent: hsla(var(--base-hue), 30%, 50%, 75%);
  --primary-colour-dark: hsla(var(--base-hue), 30%, 25%);
  --primary-colour-light: hsla(var(--base-hue), 30%, 75%);
  --complementary-colour: hsla(var(--complementary-hue), 50%, 50%);
  --complementary-colour-dark: hsla(var(--complementary-hue), 30%, 25%);
  --complementary-colour-transparent: hsla(var(--complementary-hue), 30%, 25%, 50%);
  --background-colour: hsla(var(--complementary-hue), 10%, 97%);
  --success-colour: hsla(110, 100%, 78%, 0.5);
  --error-colour: hsla(0, 100%, 78%, 0.3);
  --primary-transition: 0.3s all ease;
  --main-font: "Ubuntu", sans-serif;
  --content-width:1000px;
}

html {
  background-color: var(--background-colour);
}

body {
  background: var(--background-colour) !important;
  position: relative;
  font-family: var(--main-font);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.primary-colour{
  color: #243b55;
}

.gradient-bg{
  background: var(--primary-colour);
}

.primary-colour-bg {
  background: #243b55;
}

.grey-background{
  background: var(--grey-background);
}

.logo {
  height: 35px;
}

.logo-2 {
  width: 60%;
}

.bar {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--primary-colour-dark),
    rgba(0, 0, 0, 0)
  );
}

/* ------LANDING PAGE CSS------ */


.masthead{
  height: calc(100vh - 50px);
  min-height: 500px;
  background-image: url('/static/images/siteimages/landing2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.landing-logo {
  font-size: 8rem;
  margin: 1rem;
  background: var(--primary-colour);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-row {
  margin: 0 auto 2rem auto;
  display: flex;
  /* max-width: var(--content-width); */
  justify-content: space-between;
}


.btn{
  z-index: 1000;
}


.no-btn {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
}


/* TABLE2.HTML */



.table-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  clear: both;
}



/* ------home PAGE------ */


.grid-section{
  background: var(--primary-colour);
  color: white;
  border-radius: 10px;
  overflow: auto;
}

.home-table{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5rem;
  transition: var(--primary-transition);
}

.home-table:hover a{
  color: white;
}

.delete-icon {
  border: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background: none;
  color: darkred;
  transition: var(--primary-transition);
  cursor: pointer;
}

.home-table:hover{
  background-color: var(--complementary-colour);
  color: var(--complementary-colour);
  padding-left: 1rem;
  cursor: pointer;
}


.home-table:hover .delete-icon{
  color: white;
}

.card {
  width: 18rem;
  margin: 0 auto;
  float: none;
}


.card-img-top {
  height: 10rem;
}

.dropdown{
  position: relative;
  width: 10rem;
  margin: 0;
}

.dropdown p{
  background: var(--primary-colour);
  padding: 1rem;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 0;
  font-size: 0.8rem;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: var(--complementary-colour);
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-option {
  font-size: 0.8rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: var(--primary-transition);
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: white;
  color: var(--complementary-colour);
}

.dropdown:hover .dropdown-options {
  display: block;
}



/* home-PROMPT */


.close {
  margin: 0.3rem 0.5rem 0 0;
  float: right;
  cursor: pointer;
}

.close:hover {
  color: var(--complementary-colour);
}


/* ------CHOOSE GRAPH PAGE------ */

.select-graphs{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  padding-top: 2rem;
}


.select-graphs a:hover{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.graph-img {
  width: 100%;
  margin: 0;
}


.select-graph-type{
  line-height: 3rem;
  width: 100%;
  background-color: var(--primary-colour-dark);
  color: white;
  margin: 0;
  height: 3rem;
  text-align: center;
}

/* ---------------------------KEEP------------------------- */
.edit-graph-title{
  color: var(--primary-colour-dark);
  max-width: 30rem;
  font-size: 1rem;
  width: 50%;
  text-align: center;
}



/* --------BARCHART 2 PAGE-------- */

.vh-75 {
  height: 75vh;
}

.graph-container{
  min-height: 85vh;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--primary-colour)
}

.graph-height {
  min-height: 30vh;
}

.x-axis-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 50%; */
}


.axis-variable {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.y-axis-details{
  transition: 0.6s all ease;
}

.aggregate{
  transition: 0.6s all ease;
}

.hidden-axis{
  opacity: 0;
  transform: translateY(50px);
}


.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.empty-graph {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed var(--primary-colour);
  color: var(--primary-colour);
  border-radius: 10px;
}

/* ------ANALYSE DATA PAGE------ */

.sub-container {
  text-align: left;
  background: var(--primary-colour);
  color: white;
  padding: 0;
  border-radius: 10px;
}

.analyse-option{
  margin-bottom: 2rem;
  margin-left: 2rem;
}


.analyse-transition{
  transition: var(--primary-transition);
}

.analyse-question{
  box-sizing: border-box;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0.2rem 2rem;
  font-size: 1rem;
}

.full-bar{
  width: 100%;
  background-color: white;
  height: 1px;
}

.analyse-continue{
  display: flex;
  flex-direction: column;
  height: 5rem;
  align-items: center;
  background-color: var(--primary-colour);
  border-radius: 0 0 10px 10px;
}

.analyse-continue input{
  margin: auto;
}




/* ------QUICK STATS------ */


.grid-element {
  margin-bottom: 10px;
  width: calc(25% - 10px);
  min-width: 220px;
}
@media only screen and (max-width: 800px){
  .grid-element {
    margin-bottom: 10px;
    width: calc(50% - 10px);
    min-width: 220px;
  }
}
@media only screen and (max-width: 500px){
  .grid-element {
    margin-bottom: 10px;
    width: calc(100%);
    min-width: 220px;
  }
}



.graph-tooltip {
  text-align: center;
  width: 50;
  /* NEED TO FIX THIS POSITION. ORIGINALLY ABSOLUTE BUT WHEN USING WITH BOOTSTRAP THE TOOLTIP DID NOT WORK CORRECLTY */
  position: fixed;
  padding: 0.5rem 2rem;
  color: var(--complementary-colour);
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.tooltip-hidden {
  opacity: 0;
}

.tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}


/* ------RESULT PAGE------ */


.result-form-title {
  margin: 0 1rem;
  font-size: 1rem;
}

.result-form-input {
  width: 50%;
  font-size: 1rem;
  color: var(--primary-colour-dark);
}

.result-table {
  margin: 1rem;
  text-align: center;
  border-collapse: collapse;
}


.result-table td, .result-table th {
  border: 1px solid #ddd;
  padding: 0.7rem;
}

.result-table th{
  background: var(--grey-background);
  color: var(--primary-colour);;
}

.result-table tr{
  background-color: white;
  color: var(--primary-colour-dark);
}


/* ------GENERAL------ */

.bg-site-primary {
  background: var(--primary-colour);
}



/* ------DATA INPUT PAGE------ */

.input-overlay{
  position: absolute;
  width: 90%;
  height: 80vh;
  top: 80px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-variable{
  cursor: pointer;
  transition: var(--primary-transition);
}

.add-variable:hover {
  box-shadow: 5px 5px 5px grey;
}

.pointer {
  cursor: pointer;
}

.no-display{
  display: none;
}

.help{
  cursor: help;
}



/* Wobble affect on notification */

@-webkit-keyframes wobble
{
    0% {-webkit-transform: rotateZ(10deg);}
    4% {-webkit-transform: rotateZ(-10deg);}
    8% {-webkit-transform: rotateZ(10deg);}
    12% {-webkit-transform: rotateZ(0deg);}
}
@-moz-keyframes wobble
{
    0% {-moz-transform: rotateZ(10deg);}
    4% {-moz-transform: rotateZ(-10deg);}
    8% {-moz-transform: rotateZ(10deg);}
    12% {-moz-transform: rotateZ(0deg);}
}
@-o-keyframes wobble
{
    0% {-o-transform: rotateZ(10deg);}
    4% {-o-transform: rotateZ(-10deg);}
    8% {-o-transform: rotateZ(10deg);}
    12% {-o-transform: rotateZ(0deg);}
}
@keyframes wobble
{
    0% {transform: rotateZ(10deg);}
    4% {transform: rotateZ(-10deg);}
    8% {transform: rotateZ(10deg);}
    12% {transform: rotateZ(0deg);}
}

.wobble {
    -webkit-animation: wobble 2.5s ease infinite;
    -moz-animation: wobble 2.5s ease infinite;
    -o-animation: wobble 2.5s ease infinite;
    animation: wobble 2.5s ease infinite;
}
