@import "d3.css";

/* Variables set so can easily be changed and subsequently alter the appearance of the site */
:root {
  --primary-colour: #243b55;
  --primary-gradient: linear-gradient(to left, #141e30, #243b55);
  --grey: #a2a4a6;
  --background-colour: #f7f7f7;
  --primary-transition: 0.3s all ease;
  --main-font: "Ubuntu", sans-serif;
  --landing-image: url('/static/images/siteimages/landing2.png');
}

body {
  background: var(--background-colour) !important;
  position: relative;
  font-family: var(--main-font);
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* General CSS classes */
.primary-colour{
  color: var(--primary-colour);
}

.primary-colour-bg {
  background: var(--primary-colour);
}

.bg-gradient {
  background: var(--primary-gradient);
}

.hidden-down{
  opacity: 0;
  transform: translateY(50px);
}

.primary-transition{
  transition: var(--primary-transition);
}

.hover-shadow:hover {
  box-shadow: 5px 5px 5px var(--grey);
}

.help{
  cursor: help;
}

.pointer {
  cursor: pointer;
}

.vh-75 {
  height: 75vh;
}

/* Css class that removes default styles of button elements */
.no-btn {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
}


/* ------LANDING PAGE CSS------ */

.masthead{
  height: calc(100vh - 50px);
  min-height: 500px;
  background-image: var(--landing-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-logo {
  font-size: 8rem;
  margin: 1rem;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  height: 35px;
}

.logo-2 {
  width: 60%;
}

/* CSS relating to the statistical tests on the dashboard page */
.dashboard-test{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5rem;
}

.dashboard-test:hover a{
  color: white;
}

.delete-icon {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: darkred;
  cursor: pointer;
}

.dashboard-test:hover{
  background-color: var(--grey);
  padding-left: 1rem;
  cursor: pointer;
}
.dashboard-test:hover .delete-icon{
  color: white;
}


/* Additional CSS given to bootstrap cards */
.card {
  width: 18rem;
  margin: 0 auto;
  float: none;
}

.card-img-top {
  height: 10rem;
}


/* ------GRAPH PAGE CSS------ */
.graph-container{
  min-height: 85vh;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
}

.graph-height {
  min-height: 30vh;
}

.x-axis-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.axis-variable {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.empty-graph {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed var(--primary-colour);
  color: var(--primary-colour);
  border-radius: 10px;
}

/* ------ANALYSE DATA PAGE------ */

.full-bar{
  width: 100%;
  background-color: white;
  height: 1px;
}

/* ------QUICK STATS------ */

.grid-element {
  margin-bottom: 10px;
  width: calc(25% - 10px);
  min-width: 220px;
}
@media only screen and (max-width: 800px){
  .grid-element {
    margin-bottom: 10px;
    width: calc(50% - 10px);
    min-width: 220px;
  }
}
@media only screen and (max-width: 500px){
  .grid-element {
    margin-bottom: 10px;
    width: calc(100%);
    min-width: 220px;
  }
}

.graph-tooltip {
  text-align: center;
  width: 50;
  position: fixed;
  padding: 0.5rem 2rem;
  color: var(--primary-colour);
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.tooltip-hidden {
  opacity: 0;
}

/* ------DATA INPUT PAGE------ */

.input-overlay{
  position: absolute;
  width: 90%;
  height: 80vh;
  top: 80px;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wobble affect on notification */

@-webkit-keyframes wobble
{
    0% {-webkit-transform: rotateZ(10deg);}
    4% {-webkit-transform: rotateZ(-10deg);}
    8% {-webkit-transform: rotateZ(10deg);}
    12% {-webkit-transform: rotateZ(0deg);}
}
@-moz-keyframes wobble
{
    0% {-moz-transform: rotateZ(10deg);}
    4% {-moz-transform: rotateZ(-10deg);}
    8% {-moz-transform: rotateZ(10deg);}
    12% {-moz-transform: rotateZ(0deg);}
}
@-o-keyframes wobble
{
    0% {-o-transform: rotateZ(10deg);}
    4% {-o-transform: rotateZ(-10deg);}
    8% {-o-transform: rotateZ(10deg);}
    12% {-o-transform: rotateZ(0deg);}
}
@keyframes wobble
{
    0% {transform: rotateZ(10deg);}
    4% {transform: rotateZ(-10deg);}
    8% {transform: rotateZ(10deg);}
    12% {transform: rotateZ(0deg);}
}

.wobble {
    -webkit-animation: wobble 2.5s ease infinite;
    -moz-animation: wobble 2.5s ease infinite;
    -o-animation: wobble 2.5s ease infinite;
    animation: wobble 2.5s ease infinite;
}
