{% extends "layout.html" %} {% block content %}
<main class="container">
  <div class="bg-white shadow-sm border mt-4 rounded p-4">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.enough_graphs.label() }}
        </div>
        {% if form.enough_graphs.errors %}
            {{ form.enough_graphs(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.enough_graphs.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.enough_graphs(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.good_graphs.label() }}
        </div>
        {% if form.good_graphs.errors %}
            {{ form.good_graphs(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.good_graphs.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.good_graphs(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.enough_tests.label() }}
        </div>
        {% if form.enough_tests.errors %}
            {{ form.enough_tests(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.enough_tests.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.enough_tests(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.auto_tests.label() }}
        </div>
        {% if form.auto_tests.errors %}
            {{ form.auto_tests(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.auto_tests.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.auto_tests(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.navigation.label() }}
        </div>
        {% if form.navigation.errors %}
            {{ form.navigation(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.navigation.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.navigation(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.data_input.label() }}
        </div>
        {% if form.data_input.errors %}
            {{ form.data_input(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.data_input.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.data_input(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.export.label() }}
        </div>
        {% if form.export.errors %}
            {{ form.export(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.export.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.export(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.effort.label() }}
        </div>
        {% if form.effort.errors %}
            {{ form.effort(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.effort.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.effort(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.future_use.label() }}
        </div>
        {% if form.future_use.errors %}
            {{ form.future_use(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.future_use.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.future_use(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.user_interface.label() }}
        </div>
        {% if form.user_interface.errors %}
            {{ form.user_interface(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.user_interface.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.user_interface(class="list-unstyled d-flex justify-content-between mr-1") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.functionality.label() }}
        </div>
        {% if form.functionality.errors %}
            {{ form.functionality(class="list-unstyled d-flex justify-content-between mr-1") }}
            <div class="text-danger">
                {% for error in form.functionality.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.functionality(class="list-unstyled d-flex justify-content-between") }}
        {% endif %}
      </section>
      <section class="p-3 border-bottom">
        <div class="primary-colour">
          {{ form.comments.label() }}
        </div>
        {% if form.comments.errors %}
            {{ form.comments(class="form-control", rows=3) }}
            <div class="text-danger">
                {% for error in form.comments.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        {% else %}
        {{ form.comments(class="form-control bg-light", rows=3) }}
        {% endif %}
      </section>
      <section class="d-flex flex-column mt-3">
        {{ form.submit(class="btn btn-primary align-self-center") }}
      </section>
    </form>
  </div>
</main>
{% endblock content %}
