{% extends "layout.html" %} {% block content %}
<div class="masthead">
  <section class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="text-center ml-4">
          <img class="justify-self-center logo-2 img-fluid" src="{{ url_for('static', filename='images/siteimages/logo2.png') }}" alt="Datasaur Logo">
        </div>
        <!-- <h1 class="landing-logo text-center mb-0">Datasaur</h1> -->
        <h1 class="h4 text-center primary-colour">Making survey <b>analysis</b> easy</h1>
        {% if current_user.is_authenticated %}
          <div class="d-flex justify-content-center mb-5 mt-4">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Get started!
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('surveys.import_file') }}" title="Import an Excel or CSV file">Import a file</a>
                <a class="dropdown-item" href="{{ url_for('surveys.input') }}" title="Start data entry from scratch">Input data manually</a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="text-center">
            <a class="btn btn-primary align-self-center mt-2 mb-2 text-light" href="{{ url_for('users.register') }}"
            title="Go to registration page">Sign up today!</a>
          </div>
          <div class="text-center mb-5">
            <small>Already have an account? <a href="{{ url_for('users.login') }}" title="Go to login page">Login</a></small>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
<article class="container mt-5">
  <div class="row my-5"></div>
  <div class="row">
    <div class="col-sm-6">
      <p class="h2 text-center">Colourful data visualisations</p>
      <p class="lead mt-4 text-center">
        Creating graphical visualisations is easy and stress free, allowing you to quickly derive meaning
        from your data. Select from a variety of different graph types and create stunning
        data visualisations in just a few clicks. Save your graphs to your dashboard for later viewing
        and editing or simply export your finished graph to your device.
      </p>
    </div>
    <div class="col-sm-6">
      <img class="img-fluid rounded shadow" src="{{ url_for('static', filename='images/siteimages/landing3.png') }}" alt="pie-chart image">
    </div>
  </div>
  <div class="row my-5"></div>
</article>
<article class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 ">
        <div class="embed-responsive embed-responsive-16by9 shadow">
          <video class="embed-responsive-item" src="{{ url_for('static', filename='video/site_video.mov') }}" autoplay loop></video>
        </div>
      </div>
    </div>
  </div>
</article>
<article class="container mt-5">
  <div class="row my-5"></div>
  <div class="row">
    <div class="col-sm-6">
      <img class="img-fluid rounded shadow" src="{{ url_for('static', filename='images/siteimages/landing4.png') }}" alt="Image of kruskal wallis test">
    </div>
    <div class="col-sm-6">
      <p class="h2 text-center">Quick analysis</p>
      <p class="lead mt-4 text-center">
        Analysing data can be a daunting task. With our tools, it is easy to quickly discover any significant findings
        in your data by carrying out statistical tests. Choose your statistical test and the variables you would like
        to analyse and we will quickly generate p-values, suggest null hypotheses and advise whether to reject or accept
        the null hypothesis.
      </p>
    </div>
  </div>
  <div class="row my-4"></div>
</article>
<article class="jumbotron pt-4">
  <p class="h2 text-center mb-4">Easy data editing</p>
  <div class="container">
    <div class="d-flex justify-content-center">
      <img class="img-fluid rounded shadow w-75 h-75" src="{{ url_for('static', filename='images/siteimages/landing5.png') }}" alt="Image of data in a table">
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">
        <p class="lead mt-4">
          Edit your imported CSV and Excel files, or simply enter your data manually from scratch
        </p>
      </div>
    </div>
  </div>
</article>
<article class="container mt-5">
  <div class="row my-5"></div>
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div>
        <p class="h2 primary-colour">Datasaur is totally free!</p>
        <ul>
          <li class="h5">Unlimited surveys...</li>
          <li class="h5">Unlimited statistical tests...</li>
          <li class="h5">Unlimited graphs...</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
      <a class="btn-lg btn-primary align-self-center text-light text-decoration-none" href="{{ url_for('users.register') }}"
      title="Go to register page">Register today</a>
    </div>
  </div>
  <div class="row my-4"></div>
</article>
<footer>
  <div class="jumbotron mb-0 border-top d-flex flex-column">
    <div>
      <img class="logo" src="{{ url_for('static', filename='images/siteimages/logo2.png') }}" alt="Datasaur Logo">
    </div>
    <small>Site logo made at <a href="https://logomakr.com/">Logomakr</a></small>
  </div>
</footer>
{% endblock content %}
